@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
      url('../font/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Medium.woff2') format('woff2'),
      url('../font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.woff2') format('woff2'),
      url('../font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/bgimg.png);
  width: auto;
}

.left-box{
  width: 525px;
  margin-right: 45px;
}

.left-h2{
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.520833px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-top: 290px;
  margin-bottom: 11px;
}

.left-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 290px;
}

.right-box{
  margin-top: 121px;
}

.rigth-header-p{

  background: #5e54a4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  width: 540px;
 
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 17px ;
  margin-bottom: 24px;
}

.rigth-header-span{
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #fff;
}

.right-main-box{
  width: 540px;
  background-color: #fff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 40px;
}

.field{
  width: 100%;
  /* margin-left: 40px; */
  padding: 15px 32px;
  background: #FFFFFF;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
}

.field:hover{
  border: 1px solid #5e54a4;
}

.field:active{
  border: 1px solid #dedede;
  
}

.field:focus{
  outline: none;
}


.name-field{
  margin-top: 40px;
}

input:not(:placeholder-shown):not(:focus):invalid{
  border: 1px solid #ff7979;
  background-image: url(../img/nocorrect.svg);
  background-position: center right 27px;
  background-repeat: no-repeat;
}

input:not(:placeholder-shown):not(:focus):valid{
  background-color: lightgreen;
}

.incorrect{
  
  display: none;
  color: #ff7979;
  
  margin: 0;
  margin-top: 6px;
  
}


input:not(:placeholder-shown):not(:focus):invalid ~ .incorrect{
  display: block;
  text-align: right;

}


.right-main-button{
  background: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #fff;
  margin-left: 40px;
  padding: 15px 133px;
  margin-bottom: 8px;

}

.right-p{
  
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #bab7d4;
  margin-left: px;
  padding-bottom: 40px;

}

.right-link{
  text-decoration: none;
  color: #ff7979;
}
